body {
	font-family: 'Roboto', sans-serif;
}

div .nav-bar {
	width: 100vw;
}
/* div.container-fluid {
} */

.navbar-light .navbar-nav .nav-link {
	color: black;
	/* font-family: neue-haas-grotesk-display,Helvetica,sans-serif;
    font-size: 12px; */
}

.navbar-light .navbar-nav .nav-last .btn {
	text-decoration: none;
	color: white;
	background-color: #0b1320;
	margin: 3px 0px 0px;
	padding: 6px 8px;
	font-size: 12px;
	border-radius: 0px;
	width: 100px;
}

.nav-center {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
}

.navbar-brand {
	margin-right: 80px;
	font-family: 'Roboto', sans-serif;
}

a.nav-link {
	margin-left: -10px;
	margin-right: 30px;
}

.btn-group .btn-danger {
	background-color: #fe6933;
	color: black;
	border-color: black;
	width: 245px;
	height: 55px;
	font-size: 20px;
}

.btn-group .btn-warning {
	background-color: white;
	color: black;
	border-color: black;
	width: 245px;
	height: 55px;
	margin-right: 10px;
	font-size: 20px;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #0b1320;
	margin-top: 15px;
}

.btn-save {
	background-color: #3b3f47;
	color: white;
	border-top-left-radius: .2rem;
	font-size: 12px;
	border-width: 0px;
	padding: 0px 15px;
	height: fit-content;
	margin-top: 10px;
}

h3 {
	font-size: 28px;
	width: fit-content;
}

.panel {
	background-color: white;

	padding: 15px 20px;
	width: 100%;
	max-width: 1060px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.panel * {
	box-sizing: border-box;
}
.panel .plan {
	margin: 0;
	width: 25%;
	position: relative;
	float: left;
	background-color: #ffffff;
	border: 1px solid rgb(126, 126, 126);
	border-radius: .5rem;
}
.panel .heading {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 5px;
}
.panel header {
	position: relative;
}
.plan-title {
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 0px;
	margin: 0 auto;
	margin: 0;
	display: inline-block;
	color: black;
	text-transform: uppercase;
}
.panel .plan-cost {
	padding: 0px 10px 20px;
}
.panel .plan-price {
	font-weight: 400;
	font-size: 25px;
	color: #393a3a;
}

.panel .button1 {
	border: 1px solid black;
	color: black;
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
	margin: 10px 20px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 8px;
}

.button_1 {
	background-color: black;
	color: white;
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
	margin: 10px 20px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 8px;
}

.button:hover,
.button:focus,
.button1:hover,
.button1:focus {
	background-color: black;
	color: white;
}

.panel .plan-features {
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: outside none none;
	font-size: 0.8em;
}
.panel .byline {
	padding: 5px;
	font-size: 12px;
	line-height: 20px;
}
.line {
	padding-bottom: 50px;
	font-size: 12px;
	line-height: 20px;
}

sup {
	background-color: orangered;
	font-size: 10px;
	border-radius: 5px;
	padding: 3px;
	text-transform: uppercase;
	margin: 5px;
}
.heading {
	align-items: center;
}

.panel .title {
	text-align: center;
	line-height: 20px;
	padding-bottom: 10px;
	font-size: 12px;
	padding-top: 10px;
}

.ul {
	padding-bottom: 70px;
}
.features {
	font-size: 12px;
	font-weight: normal;
	list-style-type: none;
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: left;
	margin-left: 10px;
}
.ul li::before {
	content: "✓";
	color: rgb(236, 100, 100);
	background-color: rgb(231, 229, 229);
	border-radius: 50%;
	font-weight: 500;
}
.border {
	list-style-type: none;
	border-top: 2px solid rgb(223, 222, 222);
	padding: 5px;
}

.feature {
	font-size: 12px;
	font-weight: normal;
	line-height: 2;
	font-style: italic;
	margin-top: 5px;
	margin-left: 10px;
	list-style-type: none;
	text-align: left;
}
.space {
	list-style-type: none;
	padding-bottom: 30px;
}
.panel .feature1 {
	list-style-type: none;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: left;
	margin-left: 10px;
}

@media (min-width: 900px) {
	.panel {
		flex-direction: row;
		padding: 25px 50px;
		margin-top: 10px;
	}
}
